<div class="container margin-top">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
        <div class="col ">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Product Name</h4>

                <div class="clearfix">
                    <div class="float-right">
                        <small><del class="text-muted">150$</del></small>
                        <small>100$</small>
                    </div>

                    <div class="float-left text-muted">
                        <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                        <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                        <a href=""><span class="fa fa-eye pl-2"></span></a>
                    </div>
                </div>
            
                </div>
            
            </div>
            <!-- Card -->
        </div> <!-- col end -->
        <div class="col ">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Product Name</h4>

                <div class="clearfix">
                    <div class="float-right">
                        <small><del class="text-muted">150$</del></small>
                        <small>100$</small>
                    </div>

                    <div class="float-left text-muted">
                        <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                        <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                        <a href=""><span class="fa fa-eye pl-2"></span></a>
                    </div>
                </div>
            
                </div>
            
            </div>
            <!-- Card -->
        </div> <!-- col end -->
        <div class="col ">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Product Name</h4>

                <div class="clearfix">
                    <div class="float-right">
                        <small><del class="text-muted">150$</del></small>
                        <small>100$</small>
                    </div>

                    <div class="float-left text-muted">
                        <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                        <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                        <a href=""><span class="fa fa-eye pl-2"></span></a>
                    </div>
                </div>
            
                </div>
            
            </div>
            <!-- Card -->
        </div> <!-- col end -->
        <div class="col ">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Product Name</h4>

                <div class="clearfix">
                    <div class="float-right">
                        <small><del class="text-muted">150$</del></small>
                        <small>100$</small>
                    </div>

                    <div class="float-left text-muted">
                        <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                        <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                        <a href=""><span class="fa fa-eye pl-2"></span></a>
                    </div>
                </div>
            
                </div>
            
            </div>
            <!-- Card -->
        </div> <!-- col end -->
        <div class="col ">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Product Name</h4>

                <div class="clearfix">
                    <div class="float-right">
                        <small><del class="text-muted">150$</del></small>
                        <small>100$</small>
                    </div>

                    <div class="float-left text-muted">
                        <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                        <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                        <a href=""><span class="fa fa-eye pl-2"></span></a>
                    </div>
                </div>
            
                </div>
            
            </div>
            <!-- Card -->
        </div> <!-- col end -->
        <div class="col ">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Product Name</h4>

                <div class="clearfix">
                    <div class="float-right">
                        <small><del class="text-muted">150$</del></small>
                        <small>100$</small>
                    </div>

                    <div class="float-left text-muted">
                        <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                        <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                        <a href=""><span class="fa fa-eye pl-2"></span></a>
                    </div>
                </div>
            
                </div>
            
            </div>
            <!-- Card -->
        </div> <!-- col end -->
    </div> <!-- row end -->
</div> <!-- container end -->

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
        aria-controls="v-pills-home" aria-selected="true">Home</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">Profile</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">Messages</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>

