<!-- Intro -->
<div class="card card-intro blue-gradient">
    
    <div class="card-body white-text rgba-black-light text-center">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">

          <p class="h3 mb-2 py-3">
            Contact Us
          </p>
          
          <p class="my-0">We Are More Than Happy To Hear From You</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

  </div>
  <!-- Intro -->



  <!-- Contact -->
  <div class="container my-5">


    <!--Section: Content-->
    <section class="text-center dark-grey-text mb-5">

        <div class="card z-depth-0">
        <div class="card-body">
                  

            <form class="mb-4 mx-md-5" action="">

            <div class="row">
                <div class="col-md-6 mb-4">

                <!-- Name -->
                <input type="text" id="name" class="form-control" placeholder="Name">

                </div>
                <div class="col-md-6 mb-4">

                <!-- Email -->
                <input type="email" id="email" class="form-control" placeholder="Email">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-4">

                <!-- Subject -->
                <input type="text" id="subject" class="form-control" placeholder="Subject">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                <div class="form-group mb-4">
                    <textarea class="form-control rounded" id="message" rows="3" placeholder="How can we help?"></textarea>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn blue-gradient btn-md">Submit</button>
                </div>

                </div>
            </div>

            </form>
            
        </div>
        </div>

    </section>
    <!--Section: Content-->

</div>
<!--/ Contact-->