
<!-- Full Page Intro -->
<div class="view home-view">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container" style="height: 100%;">
        <!--Grid row-->
        <div class="row align-items-center justify-content-between" style="height: 100%;">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-5 mt-md-0 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mb-0">We Provide All Your Needs</h1>
            <p class="nav-text my-2 lead max-80">More Than 8,000.00 Customer All Across The Country</p>
            <hr class="hr-light max-50">
            <h6 class="my-4 max-80 text-justify">Mega Store is an e commerce platform that sell deffrent kind of products in Sudan. All you have to do is to search for your needs in the store and we will reach you to the door</h6>
            <a class="btn btn-outline-white btn-rounded" ui-sref="store.about">About Us</a>
            <a class="btn deep-blue-gradient btn-white btn-rounded" ui-sref="store.allProducts">Store</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
            <img src="img/shopping-small.png" alt="" class="img-fluid ml-md-auto">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->


  
  <!-- What makes us special -->
  <div class="container py-5 my-5">

    <section class="p-md-3 mx-md-5 text-lg-left">

        <h2 class="font-weight-bold text-center wow fadeInUp">What Makes Us Special?</h2>
        <p class="text-muted text-center pb-3 wow fadeIn" data-wow-delay=".4s">
          Mega Store always treats there clients special and put them as first priority.
        </p>  


      <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 wow fadeInLeft">
          <div class="mt-3 d-flex align-items-center">
            <i class="far fas fa-certificate indigo-text fa-2x pr-4"></i>
            <div class="">
              <h4 class="font-weight-bold mb-3">High Quality</h4>
              <p class="text-muted mb-0 wow fadeInUp" data-wow-delay=".2s">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-0 mb-5 wow zoomIn" data-wow-delay=".4s">
          <div class="d-flex align-items-center mt-3">
            <i class="fas fa-shipping-fast green-text pr-4 fa-2x"></i>
            <div>
              <h4 class="font-weight-bold mb-3">Fast Delivery</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-0 mb-5 wow fadeInUp" data-wow-delay=".6s">
          <div class="d-flex align-items-center mt-3">
            <i class="fas fa-phone amber-text pr-4 fa-2x"></i>
            <div>
              <h4 class="font-weight-bold mb-3">24/7 Support</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- What makes us special -->

