<!-- Navigation -->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar ">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect fw-bold" ui-sref="app.home">
          Mega Store
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-repeat="link in links" ng-class="{'active':isCurrentLink(link)}">
              <a class="nav-link waves-effect" ui-sref="{{link.url}}" ng-click="setCurrentLink(link)">{{link.name}}</a>
            </li>
            
          </ul>
          
          <!-- Right logged out -->
          <ul ng-if="!userLoggedOut" class="navbar-nav ml-auto nav-flex-icons align-items-center">

            <li class="nav-item">
                <a ui-sref="app.register" class="btn btn-floating blue-gradient btn-sm my-0">Register</a>
            </li> 
            <li class="nav-item">
                <a ui-sref="app.login" class="btn btn-floating btn-outline-primary btn-sm my-0">Login</a>
            </li>

          </ul>

          <!-- Right logged in -->
          <ul ng-if="userLoggedOut" class="navbar-nav ml-auto nav-flex-icons align-items-center">

            <li class="nav-item mx-lg-3">
                <a data-toggle="modal" data-target="#centralModalSm">
                <i class="fas fa-shopping-cart"></i>
            </a>
            </li>
    
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <img src="img/kola.jpg" width="30" class="rounded-circle z-depth-0"
                  alt="avatar image"> -->
                Username
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                aria-labelledby="navbarDropdownMenuLink-55">
                <a class="dropdown-item" ui-sref="app.profile">Profile</a>
                <a class="dropdown-item" ng-click="logout()">Logout</a>
              </div>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

  </header>
<!-- Navigation -->

<!-- Cart Modal -->

<!-- Modal -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-2">
         <!-- Cart Panel -->
         <div class="container pb-3 pt-4  z-depth-1 rounded">
            
          <!--Section: Content-->
          <section class="dark-grey-text pt-2">
        
            <!-- Shopping Cart table -->
            <div class="table-responsive">
                
                <table class="table product-table mb-0">
                    
                    <!-- Table head -->
                    <thead class="mdb-color lighten-5">
                  <tr>
                      <th></th>
                    <th class="font-weight-bold">
                        <strong>Product</strong>
                    </th>
                    <th></th>
                    <th class="font-weight-bold">
                      <strong>Price</strong>
                  </th>
                    <th class="font-weight-bold">
                        <strong>QTY</strong>
                      </th>
                    <th class="font-weight-bold">
                        <strong>Amount</strong>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <!-- /.Table head -->
                
                <!-- Table body -->
                <tbody>
                    
                  <!-- Single row -->
                  <tr ng-repeat="cartProduct in cartProducts">
                    <th scope="row">
                        <div class="myCartImageContainer">
                          <img src="{{cartProduct.image}}" alt="" class="myCartImage img-fluid z-depth-0">
                        </div>
                      </th>
                      <td>
                          <h5 class="mt-3">
                        <strong>{{cartProduct.name}}</strong>
                      </h5>
                    </td>
                    <td></td>
                    <td>{{cartProduct.sellPrice}}</td>
                    <td>
                      <input type="number" ng-model="qty"  aria-label="Search" class="form-control" style="width: 100px">
                  </td>
                    <td class="font-weight-bold">
                        <strong>{{cartProduct.sellPrice * qty | currency}}</strong>
                    </td>
                    <td>
                      <button ng-click="deleteCartProduct()" type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                      title="Remove item">X
                      </button>
                  </td>
                  </tr>
                  <!-- /.Single row -->
        
                  <!-- Fourth row -->
                  <tr>
                      <td colspan="2">
                        <a type="button" ui-sref="app.store" class="btn btn-outline-primary btn-rounded" data-dismiss="modal">
                          <i class="fas fa-angle-left left"></i>
                          Back To Shopping   
                        </a>
                      </td>
                    <td>
                        <h4 class="mt-2">
                        <strong>Total</strong>
                      </h4>
                  </td>
                  <td class="text-right">
                      <h4 class="mt-2">
                        <strong>{{total | currency}}</strong>
                      </h4>
                    </td>
                    <td colspan="3" class="text-right">
                      <a ui-sref="app.checkout" class="btn btn-primary btn-rounded" data-dismiss="modal">Complete purchase
                        <i class="fas fa-angle-right right"></i>
                      </a>
                  </td>
              </tr>
              <!-- Fourth row -->
              
          </tbody>
                <!-- /.Table body -->
                
              </table>
        
          </div>
          <!-- /.Shopping Cart table -->
          
          </section>
          <!--Section: Content-->
          
        
      </div>
      <!-- Cart Panel -->
      </div>
      <div class="modal-footer">
        <a ui-sref="app.store" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Back To Shop</a>
        <a ui-sref="app.cart" class="btn purple-gradient btn-sm" data-dismiss="modal">View Cart</a>
        <a ui-sref= "app.checkout" class="btn blue-gradient btn-sm" data-dismiss="modal">purchase</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- Cart Modal -->


<!-- injected views -->
<div class="wrapper" ui-view="sub"></div>



<!-- Footer -->
<footer class="page-footer font-small morpheus-den-gradient indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold h5 text-capitalize mt-3 mb-4 wow fadeIn" ui-sref="app.home" data-wow-delay=".2s">Mega Store</h5>

        <p class="wow fadeIn" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-capitalize mt-3 mb-4 wow fadeIn" data-wow-delay=".4s">pages</h5>

        <ul class="list-unstyled">
          <li ng-repeat="link in links">
            <a ui-sref="{{link.url}}" class="wow fadeInUp" data-wow-delay=".2s">{{link.name}}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-capitalize mt-3 mb-4 wow fadeIn" data-wow-delay=".6s">categories</h5>

        <ul class="list-unstyled">
          <li ng-repeat="category in categories">
            <a ui-sref="app.store" class="wow fadeInUp" data-wow-delay=".2s" ng-click="setCurrentCategory(category);setActiveCategory(category)">{{category.name}}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-capitalize mt-3 mb-4 wow fadeIn" data-wow-delay=".8s">social media</h5>

        <ul class="list-unstyled navbar-nav d-flex flex-row nav-flex-icons justify-content-center justify-content-md-start">
          <li class="nav-item mr-2">
            <a href="https://www.facebook.com" class="nav-link waves-effect py-2 pl-0 pr-2 wow fadeInUp" target="_blank" data-wow-delay=".2s">
            <i class="fab fa-facebook-f"></i>
          </a>
          </li> 
          <li class="nav-item mx-2">
              <a href="https://twitter.com" class="nav-link waves-effect p-2 wow fadeInUp" target="_blank" data-wow-delay=".4s">
              <i class="fab fa-twitter"></i>
          </a>
          </li>
          <li class="nav-item mx-2">
              <a href="https://instagram.com" class="nav-link waves-effect p-2 wow fadeInUp"
              target="_blank" data-wow-delay=".6s">
              <i class="fab fa-instagram"></i>
          </a>
          </li> 
          <li class="nav-item mx-2">
              <a href="https://instagram.com" class="nav-link waves-effect p-2 wow fadeInUp"
              target="_blank" data-wow-delay=".6s">
              <i class="fab fa-linkedin-in"></i>
          </a>
          </li> 
          <li class="nav-item mx-2">
              <a href="https://instagram.com" class="nav-link waves-effect p-2 wow fadeInUp"
              target="_blank" data-wow-delay=".6s">
              <i class="fab fa-pinterest"></i>
          </a>
          </li> 
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a ui-serf="app.home" class="wow fadeIn" data-wow-delay=".2s"> Mega Store</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
