<div class="container margin-top">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="list-group">
                <button ng-repeat="category in categories" ng-class="{'active':isActiveCategory(category)}" ng-click="setCurrentCategory(category);setActiveCategory(category)" type="button" class="list-group-item list-group-item-action">
                  {{category.name}}
                </button>
              </div>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col" ng-repeat="product in products  | filter:{category:currentCategory.name}">
                    <!-- Card -->
                    <div class="card myProductCard mb-4 wow fadeIn" data-wow-delay=".4s">
            
                        <!-- Card image -->
                        <div class="view overlay">
                        <img class="card-img-top myProductImage" src="{{product.image}}"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title">{{product.name}}</h4>
            
                        <div class="clearfix">
                            <div class="float-right">
                                <small><del class="text-muted">{{product.mainPrice}}</del></small>
                                <small>{{product.sellPrice}}</small>
                            </div>
            
                            <div class="float-left text-muted">
                                <a href=""><span class="fa fa-shopping-cart pr-2"></span></a>
                                <a href=""><span class="fa fa-heart gray-color px-2"></span></a>
                                <a href=""><span class="fa fa-eye pl-2"></span></a>
                            </div>
                        </div>
                    
                        </div>
                    
                    </div>
                    <!-- Card -->
                </div> <!-- col end -->
            </div> <!-- row end -->
        </div>
    </div>
    <div class="row d-md-none">
        <div class="col-md-3 mb-4 mt-2">
            <div class="list-group">
                <button ng-repeat="category in categories" ng-class="{'active':isActiveCategory(category)}" ng-click="setCurrentCategory(category);setActiveCategory(category)" type="button" class="list-group-item list-group-item-action">
                  {{category.name}}
                </button>
              </div>
        </div>
    </div>
</div> <!-- container end -->


